<!DOCTYPE html>
<html>
<head>
  <title><%= @user.name %></title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <div class='user-div'>
    <img class='user-pic' src="<%= @user.photo_url %>" alt="Profile Photo">
    <div>
      <h2 class='username'><%= @user.name %></h2>
      <p>Number of posts: <%= @user.post_counter %></p>
    </div>
  </div>
  <p class='bio'>Bio: <%= @user.bio %></p>

  <% if @user.posts.any? %>
    <h2>User's Posts:</h2>
    <ul>
      <% @user.posts.each do |post| %>
        <li class='post'>
          <%= link_to post.title, post_path(post) %>
          <br>Comments: <%= pluralize(post.comments_counter, ' ') %> Likes: <%= pluralize(post.likes_counter, ' ') %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class='no-post'>This user has no posts yet.</p>
  <% end %>
  <%= link_to "Create New Post", new_user_post_path(@user) %>
  <%= link_to 'See All Posts', user_posts_path(user_id: @user.id), class: 'see-all-button' %>
</body>
</html>
