<!DOCTYPE html>
<html>
<head>
  <title><%= @post.title %></title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <h2><%= @post.title %></h2>
  <p class="post-text"><%= @post.text %></p>
  <p>Comments: <%= @post.comments_counter %> / Likes: <%= @post.likes_counter %></p>

  <% if @post.comments.any? %>
    <h2>Comments:</h2>
    <ul class="comment-list">
      <% @post.comments.each do |comment| %>
        <li>
          <strong><%= comment.user.name %>:</strong> <%= comment.text %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No comments yet.</p>
  <% end %>
</body>
</html>
