<!DOCTYPE html>
<html>
<head>
  <title><%= @post.title %></title>
</head>
<body>
  <div class="post-details">
    <h2><%= @post.title %></h2>
    <p class="post-text"><%= @post.text %></p>
    <p>Comments: <%= @post.comments_counter %> / Likes: <%= @post.likes_counter %></p>
  </div>

  <div class="comments">
    <% if @post.comments.any? %>
      <h2>Comments:</h2>
      <ul class="comment-list">
        <% @post.comments.each do |comment| %>
          <li>
            <strong><%= comment.user.name %>:</strong> <%= comment.text %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="no-comments">No comments yet.</p>
    <% end %>

    <div class="comment-form">
      <h2>Add a Comment:</h2>
      <%= form_for([@post, Comment.new], url: user_post_comments_path(@post.author_id, @post.id)) do |f| %>
      <%= f.text_area :text, placeholder: "Write your comment here..." %>
      <%= f.submit "Submit" %>
      <% end %>
    </div>

     <div class="like-button">
      <%= button_to "Like", like_post_path(@post), method: :post %>
    </div>


</div>
  </div>

</body>
</html>
